<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>国家孕婴网 运维平台 {{ title }}</title>

	<!-- Bootstrap CSS -->
{#	<link href="/static/css/bootstrap.min.css" rel="stylesheet">#}
{#	<link href="/static/css/base.css" rel="stylesheet">#}
{#    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}

    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }
        .form-signin {

        }
    </style>
</head>

<body>
	<form action="/login_form/" method="post">
        <p>{{ obj.username }}</p>
        <p>{{ obj.password }}</p>
        <input type="submit" value="submit" />
    </form>

{#    <script src="/static/js/jquery-2.1.1.js"></script>#}
{#	<script src="/static/js/bootstrap.min.js"></script>#}

</body>
