/* Hide for mobile, show later */
.sidebar {
    display: none;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}

.sidebar .arrow {
    float: right;
}

.sidebar ul{
	margin: 0;
	padding: 0;
	list-style: none;
	/*width: 150px; !* Width of Menu Items *!*/
	border-bottom: 1px solid #ccc;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
        position: fixed;
        left: 0;
        top: 51px;
        width: 250px;
        background-color: whitesmoke;
        border-right: 1px solid #eee;
    }
}

.assets {
    padding: 10px;
}

@media (min-width: 768px) {
    .assets {
        padding-right: 20px;
        padding-left: 20px;
    }
}
/* Main content

.sidebar .nav-second-level li {
  border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}
 */


/*ul li {*/
    /*position: relative;*/
/*}*/

li ul {
	/*position: absolute;*/
	left: 149px; /* Set 1px less than menu width */
	top: 0;
	display: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #777777;
    /*background: #ffffff;*/
    padding: 5px;
}

.nav li a {
    padding: 15px 25px;
}

.chearfix {
    clear: both;
}


li:hover ul, li.over ul {
    display: block;
}

.panel {
    margin-right: 5px;
}

.login-panel {
    margin-top: 25%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}
