<html>

<head>
	<meta charset="utf-8">
	<title>国家孕婴网 运维平台 {{ title }}</title>

	<!-- Bootstrap CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- 页面头部导航 -->
	<nav class="nav navbar-default navbar-fixed-top" role="navigation" style="background-color:darkslategray">
		<div class="container-fluid">
            <a class="navbar-brand" href="/">DevOPS</a>
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" id='t1' class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span> </a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="fa fa-user fa-fw"></i>个人中心</a></li>
							<li class="divider"></li>
							<li><a href="/logout/"><i class="fa fa-mail-forward fa-fw"></i>退出登录</a></li>
						</ul>
                        <li><a href="/logout/"><i class="fa fa-mail-forward fa-fw"></i>退出登录</a></li>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
                    <li><a href="http://blog.xiangxiaobao.com" target="_blank">相小宝</a></li>
                    <li><a href="http://blog.xiangxiaobao.com" target="_blank">Zabbix</a></li>
				</ul>
                <form class="navbar-form">
                    <input type="text" class="form-control" placeholder="请输入关键字" />
                    <button class="btn btn-primary">搜 索</button>
                </form>
		</div>
	</nav>
    <!-- 导航结束 -->
	<div style="height: 50px;"></div>

    {% block navbar %}
        {% include "nav.html" %}
    {% endblock %}

	<div class="col-md-10 col-md-offset-2">
		{% block 'login' %}{% endblock %}
	</div>

    <div class="col-md-10 col-md-offset-2" assets>
		{% block 'assets' %}{% endblock %}
	</div>

    <div id="page-wrapper">

    </div>
    <script type="text/javascript">
{#        var id1 = document.getElementById('t1');#}
{#        console.log(id1.innerText);#}
{#        id1.innerText = 'xiangxiaobao';#}
        var tag = document.createElement("a");
        tag.href = "http://blog.xiangxiaobao.com";
        tag.innerText = '点我啊';

        var id1 = document.getElementById('t1');
        id1.appendChild(tag);
    </script>

	<script src="/static/js/jquery-2.1.1.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>